<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> 选课 </title>
  <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <style type="text/css">
    .form-control-inline {
      width:200px;
      height:30px;
      display:inline;
    }
  </style>
</head>
<body>
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" style="min-height: 70px;">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="" style="padding: 25px 50px">上海大学网络选课系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/index" style="padding: 25px 15px"> 首页 </a></li>
            <li class="active"><a href="" style="padding: 25px 15px"> 选课 <span class="sr-only">(current)</span></a></li>
          </ul>
          <p class="navbar-text navbar-right" style="padding: 10px 150px">
            <font color="red">2019-2020学年冬季学期</font> |
            <font color="black"> 欢迎 {{request.user.username}}  @S1</font> |
            <a href="/logout_view" class="navbar-link" style="color: #2866BD">安全退出</a>
          </p>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar" style="background:#69B2E6; min-height:800px; padding:1px 5px 0px 2px;">
        <br>

        <ul class="nav nav-sidebar" style="background: #AFD2FC;">
          <p style="padding: 3px 0px 0px 0px;"><font size="4" style="color: #385090; padding:30px;"> 学生信息 </font></p>
        </ul>
        <ul class="nav nav-sidebar" style="background: #FFFFFF">
          <font size="4">
            <p style="padding: 5px 5px; line-height:28px;">
              学号：{{xh}}
              <br>
              姓名：{{xm}}
              <br>
              英语等级：{{yydj}}
              <br>
              <font color="red"><b>完成选课后请点击 <a href="/logout_view" style="color:red">[安全退出]</a></b></font>
            </p>
          </font>
        </ul>
        <br>

        <ul class="nav nav-sidebar" style="background: #AFD2FC">
          <p style="padding: 3px 0px 0px 0px;"><font size="4" style="color: #385090; padding:30px;"> 常用功能 </font></p>
        </ul>
        <ul class="nav nav-sidebar" style="background: #FFFFFF">
          <li><a href="/index/xk/"><font size="4" style="color: #385090; padding:30px;"> 选课 </font></a></li>
          <li><a href="/index/tk/"><font size="4" style="color: #385090; padding:30px;"> 退课 </font></a></li>
        </ul>
        <br>

        <ul class="nav nav-sidebar" style="background: #AFD2FC">
          <p style="padding: 3px 0px 0px 0px;"><font size="4" style="color: #385090; padding:30px;"> 数据查询 </font></p>
        </ul>
        <ul class="nav nav-sidebar" style="background: #FFFFFF">
          <li><a href="/index/kbcx/"><font size="4" style="color: #385090; padding:30px;"> 成绩查询 </font></a></li>
          <li><a href="/index/kccx/"><font size="4" style="color: #385090; padding:30px;"> 课程查询 </font></a></li>
        </ul>
        <br>

      </div>
      <!--选课-->
      <div class="col-sm-3 col-md-6" style="padding: 10px 30px;">
        <b><font size="4"> 快捷录入： </font></b>
        <br><br>
        <form method="POST" action="/index/xk/">
          {% csrf_token %}
          <div class="form-group">
            课程号1：
            <input type="text" name="kh1" class="form-control form-control-inline" value={{kh1}}>
            工号1：
            <input type="text" name="gh1" class="form-control form-control-inline" value={{gh1}}>
            <font color="red"><b>{{result1}}</b></font>
          </div>
          <div class="form-group">
            课程号2：
            <input type="text" name="kh2" class="form-control form-control-inline" value={{kh2}}>
            工号2：
            <input type="text" name="gh2" class="form-control form-control-inline" value={{gh2}}>
            <font color="red"><b>{{result2}}</b></font>
          </div>
          <div class="form-group">
            课程号3：
            <input type="text" name="kh3" class="form-control form-control-inline" value={{kh3}}>
            工号3：
            <input type="text" name="gh3" class="form-control form-control-inline" value={{gh3}}>
            <font color="red"><b>{{result3}}</b></font>
          </div>
          <div class="form-group">
            课程号4：
            <input type="text" name="kh4" class="form-control form-control-inline" value={{kh4}}>
            工号4：
            <input type="text" name="gh4" class="form-control form-control-inline" value={{gh4}}>
            <font color="red"><b>{{result4}}</b></font>
          </div>
          <input type="submit" value="提交">
          <br>
        </form>
        <br><br>
      </div>

      <div class="col-sm-3 col-md-6" style="padding: 10px 30px;">
        <b><font size="4"> 已选课程： </font></b>
        <table class="table">
          <thead>
            <tr>
                <th> 课程号 </th>
                <th> 课程名称 </th>
                <th> 工号 </th>
                <th> 教师名称 </th>
                <th> 上课时间 </th>
                <!--<th> 选课 </th>-->
            </tr>
          </thead>
          <tbody>
            {% for kc in classtable %}
            <tr>
                <td> {{kc.kh}} </td>
                <td> {{kc.km}} </td>
                <td> {{kc.gh}} </td>
                <td> {{kc.xm}} </td>
                <td> {{kc.sksj}} </td>
                <!--<td><button type="submit"> 选课 </button></td>-->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
</body>
</html>
